*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.center {
  text-align: center;
}
.photo-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
}
.maargin{
  margin: 4rem 0;
}
.margin-top-bottom{
  margin: 10rem;
}
.overfllow{
  overflow: hidden;
}