.header {
  height: 10rem;
  background-color: var(--color-green);
  position: relative;

  &__content {
    height: 100vh;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    @media only screen and (max-width: $bp-large) {
      padding: 0 2.5rem;
    }
  }

  &__logo {
    color: var(--color-white);
    font-size: 3.2rem;
    z-index: 1000;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.9rem;
    }
  }
  


  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover,
  .nav-link:active {
    color: var(--color-dark-1);
  }
  .mobile_navbar-btn {
    background-color: transparent;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: $bp-small) {
      display: block;
      z-index: 222;
    }
  }
  .mobile_navbar-icon {
    color: var(--color-white);
    height: 4.5rem;
    width: 4.5rem;
  }
  .mobile_navbar-icon[name="close-outline"] {
    display: none;
  }
}
.landing {
  // height: 100vh;
  height: calc(100vh - 10rem);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("photo1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;

  align-items: center;

  &__content {
    max-width: 60rem;
    padding: 0 2rem;
    // text-align: left;
  }
  &__heading {
    font-size: 8rem;
    color: var(--color-white);
    @media only screen and (max-width: $bp-smallest) {
      font-size: 5rem;
    }
  }
  &__text {
    margin: 3.2rem 0;
    font-size: 2.5rem;
    color: var(--color-white);
  }
}
.btn {
  border: none;
  background-color: var(--color-green);
  padding: 1.5rem 3.3rem;
  color: var(--color-white);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--color-white);
    color: #000;
  }
}
.btn-white {
  background-color: var(--color-white);
  color: #000;
  margin-left: 2rem;
  @media only screen and (max-width: $bp-smallest-btn) {
    margin: 1rem 0;
  }
}
