@import "base";
@import "header";
@import "feature";
@import "about";
@import "blog";
@import "form";
@import "footer";
@import "nav";

:root {
  --color-green: #6cbd15;
  --color-white: #fff;
  --color-dark-1: #333;
  --color-dark-2: #444;
  --color-dark-3: #262626;
}

